*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#fff;
    --mainColor:rgba(19, 92, 141, 0.795);
    --secColor:rgb(58, 153, 216);
    --navColor:rgba(139, 197, 236, 0.795);
}
@font-face {
    font-family: firstFont;
    src: url("../fonts/STIXTwoMath-Regular.ttf");
}
.body{
font-family: firstFont;
}
.container{
    width:1100px;
    margin: auto;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(42, 45, 46, 0.39);
}
.header{
   height: 100vh;
   background-image: url("../image/landing.jpg");
  background-size: cover;
}
.navbar{
   position:fixed;
   width: 100%;/*لحل مشكلة position:fixed*/
   padding-top: 20px;
   padding-bottom: 10px;
   overflow: hidden;
}
 .logo{
    float:left;
    width:30%;
}
.nav{
    float: left;
    width: 70%;
    text-align: right;
}
@media(max-width:575px){
   .logo{
       float: none;
       text-align: left;
       margin-bottom: 10px;
   }
   .nav{
       float: none;
       text-align: left;
   }
    }

@media  (min-width:576px) and (max-width:768px){
    .logo{
        float: none;
       margin: auto;
        margin-bottom: 10px;
    }
    .nav{
        float: none;
       text-align: center;
    }

} 
.item-list{
display: inline-block;

}
.link-nav{
    text-decoration: none;
    color: var(--white);
    padding-right: 10px;
    text-transform: uppercase;
}
.link-nav:hover{
    color: var(--navColor);
    font-size: 18px;
}
.list .home{
    color: var(--navColor);
}
.line{
    height: .5px;
    width: 100%;
    background-color: var(--white);
    display: inline-block;
    
}
.home{
    position: relative; 
    width: 50%;
}
.home-content{
    position: absolute;
    top: 170px;
    left: 0;
    background-color: var(--mainColor);
    color: var(--white);
   padding-left: 80px;
   padding-top: 20px;
}
.home-heading{
    text-transform: capitalize;
}
.home-para{
    width: 90%;
    margin-top: 30px;
    padding-bottom: 30px;
    line-height: 30px;
} 
@media(max-width:575px){
    .home{
        width:80%;
    }
    .home-heading{
        font-size: 18px;
    }
    .home-para{
        width: 100%;
        line-height: 25px;
    }
     }
 
 @media  (min-width:576px) and (max-width:768px){
    .home{
        width: 90%;
    }
 
 } 
.services{
    margin-top: 50px;
   margin-bottom: 50px;
}
.services-heading,.proto-heading,.about-heading,.pricing-heading,.contact-heading{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.services-para,.proto-desc,.pricing-desc,.contact-desc{
    text-align: center;
    margin-top: 20px;
}
.service-items{
    overflow: auto;
}
.service-item{
    float: left;
    width: 50%;
   padding-left: 70px;
    margin-bottom: 20px;
}
.service-item .fas{
    color: #000;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 20px;
}
.servItem-heading{
    margin-bottom: 20px;
    color:var(--secColor);
    display: inline-block;
    text-transform: capitalize;
}
.serItem-para{
    width: 90%;
    text-indent: 20px;
}
@media(max-width:575px){
   .services-heading{
      text-align: left;
      margin-left: 200px;
      font-size:25px;
   }
   .services-para{
       text-align: center;
       width: 40%;
       margin-left: 20px;
   }
   .circle{
    display:none
   }
   .circle::after{
    display:none
   }
   .circle::before{
    display:none
   }
   .service-item{
       float:none;
     text-align: center;
     }
     .serItem-para{
         width: 80%;
     }
    }
 
 @media  (min-width:576px) and (max-width:768px){
     .services-heading{
        margin-right: 300px;
        font-size:30px;
     }
    .services-para{
         text-align: left;
         width: 60%;
         margin-left: 60px;
     }
    .circle{
        display:none
     }
     .circle::after{
        display:none
     }
       .circle::before{
        display:none
     }
    .service-item{
         float:none;
      text-align: center;
      margin-left: 70px;
       }
 } 

.portofolio{
    margin-top: 100px;
}
.proto-circle::before{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    left: 46.9%;
    bottom: -110%;
}
.proto-circle::after{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    right: 46.8%;
    bottom: -110%;
}
.proto-items{
    margin-top: 40px;
    overflow: auto;
}
.proto-item{
    float:left;
    width: 25%;
    position: relative;
}
.proto-item img{
    width: 100%;
    display: block;
}
.over-lay{
    position: absolute;
    top: 70%;
    bottom: 0;
    background-color: var(--white);
    width: 100%;
    text-align: center;
    opacity: 0;
    color: var(--secColor);
}
.proto-item .content{
    padding-top: 20px;
}
.proto-item:hover .over-lay{
    opacity: .8;
}

@media(max-width:575px){
   .proto-heading{
      font-size: 25px;
     }
     
    .proto-circle::after{
        display: none;
    }
    .proto-circle::before{
        display: none;
    }
    .proto-circle{
        display:none;
    }
    .proto-item{
       float: none;
       width: 100%;
    } 
    }
  @media  (min-width:576px) and (max-width:768px){
     .proto-heading{
        font-size: 30px;
       }
       .proto-circle::after{
        display:none
      }
       .proto-circle::before{
        display:none
      } 
      .proto-circle{
        display:none
      }
       .proto-item{
          width: 50%;
      } 
  } 
.about{
    margin-top: 100px;
    margin-bottom: 50px;
    background: linear-gradient(to right, #4568dc, #b06ab3);
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-circle{
    background-color: transparent;
}
.about-circle::before{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    left: 46.9%;
    bottom: -234%;
}
.about-circle::after{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    right: 46.8%;
    bottom: -234%;
}
.about-desc{
    width: 80%;
   margin: auto;
   text-align: center;
    margin-top: 20px;
}

@media(max-width:575px){
   .about-heading{
    text-align: left;
     margin-left: 200px;
   font-size:25px;
   }
   .about-desc{
       width: 40%;
       text-align: left;
       margin-left: 40px;
   }
   .about-circle{
     display: none;
   }
   .about-circle::after{
    display: none;
   }
   .about-circle::before{
       display: none;
   }
     }
   @media  (min-width:576px) and (max-width:768px){
    .about-heading{
        text-align: left;
         margin-left: 300px;
       font-size:30px;
       }
       .about-desc{
           width: 50%;
           margin-left: 90px;
       }
       .about-circle{
         display: none;
       }
       .about-circle::after{
        display: none;
       }
       .about-circle::before{
           display: none;
       }
   } 
.pricing-circle::before{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    left: 46.9%;
    bottom: -276%;
}
.pricing-circle::after{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    right: 46.8%;
    bottom: -276%;
}
.pricing-items{
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
}
.pricing-item{
    float: left;
    width: 30%;
    margin-left: 25px;
    padding-top: 20px;
}
.item-heading{
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 20px;
}
.price{
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 20px;
}
.pricing-item .content{
 border-bottom: 1px solid var(--mainColor);
 border-top: 1px solid var(--mainColor);
 margin-bottom: 20px;
}
.para-item{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.para-color{
background-color: var(--navColor);
}
.price-link{
    text-decoration: none;
    text-transform: uppercase;
    border:1px solid var(--mainColor);
    color:#000;
    padding: 20px;
    display: inline-block;
    margin-top: 20px;
}
.price-link:hover{
    background-color: var(--navColor);
    border-radius: 20px;
}
@media(max-width:575px){
    .pricing-heading{
     text-align: left;
      margin-left: 200px;
    font-size:25px;
    }
    .pricing-desc{
        width: 40%;
        text-align: center;
        margin-left: 40px;
    }
    .pricing-circle{
      display: none;
    }
    .pricing-circle::after{
     display: none;
    }
    .pricing-circle::before{
        display: none;
    }
    .pricing-item{
        float: none;
        margin-bottom: 30px;
        border:1px solid var(--mainColor);
    margin-left: 100px;
    }
    .price-link{
        margin-bottom: 20px;
    }
      }
    @media  (min-width:576px) and (max-width:768px){
        .pricing-heading{
            text-align: left;
            margin-left: 300px;
          font-size:30px;
          }
        .pricing-desc{
            width: 50%;
            margin-left: 90px;
        }
           .pricing-circle{
             display: none;
           }
           .pricing-circle::after{
            display: none;
           }
           .pricing-circle::before{
               display: none;
           }
           .pricing-item{
               float: none;
               margin-bottom: 30px;
               border:1px solid var(--mainColor);
           margin-left: 180px;
           }
           .price-link{
               margin-bottom: 20px;
           }
    } 
.contact{
    margin-top: 100px;
}
.contact-circle::before{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    left: 46.9%;
    bottom: -416%;
}
.contact-circle::after{
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    background-color: #000;
    right: 46.8%;
    bottom: -416%;
}
form{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   border:1px solid var(--mainColor);
   background: linear-gradient(to right, #4568dc, #b06ab3);
}
form input{
   
    text-align: center;
    margin-top: 30px;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}
form textarea{
    text-align: center;
    margin-top: 30px;
    resize: none;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
}
form button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
@media(max-width:575px){
    .contact-heading{
     text-align: left;
      margin-left: 200px;
    font-size:25px;
    }
    .contact-desc{
        width: 40%;
        text-align: center;
        margin-left: 40px;
    }
     .contact-circle{
      display: none;
    }
    .contact-circle::after{
     display: none;
    }
    .contact-circle::before{
        display: none;
    }
  form{
      text-align: left;
      padding-left: 25px;
  }
  form button{
      margin-left: 150px;
  }
      }
    @media  (min-width:576px) and (max-width:768px){
         .contact-heading{
            text-align: left;
            margin-left: 300px;
          font-size:30px;
          }
       .contact-desc{
            width: 50%;
            margin-left: 90px;
        }
           .contact-circle{
             display: none;
           }
           .contact-circle::after{
            display: none;
           }
           .contact-circle::before{
               display: none;
           }
           form{
            text-align: left;
            padding-left: 150px;
        }
        form button{
            margin-left: 150px;
        }
        
    } 
.footer{
    background-color: rgba(242, 247, 248, 0.068);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}